{% extends "inicio.html" %}
{% load bootstrap5 %}
{% block principal %}
{% load static %}

<div class="row">
  <div class="col-md-6">
    <h1 class="text-body-emphasis">Cadastro</h1>
    <br>
    {% if sucesso %}
      <p class="alert alert-success"> Cadastro realizado com sucesso </p>
    {% else %}
      <form action="" method="POST" enctype="multipart/form-data" id="form" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
      </form>
    {% endif %}

  </div>

  <div class="col-md-6">
    <h1 class="text-body-emphasis">Login</h1>
    <br>
    <form action="{% url 'verificar_cadastro' %}" method="POST" id="login-form" novalidate>
      {% csrf_token %}
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senha" name="senha">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
</div>
 

{% endblock %}
